<ol id="breadcrumb" class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="">Home</a>
  </li>
  <li class="breadcrumb-item active">Jogadores</li>
</ol>

<div class="container">
  <table class="table table-fixed">
    <thead>
      <tr>
        <th>#</th>
        <th>Foto</th>
        <th>Nome</th>
        <th>Posição</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="rows">
      <span id="zeroplayers" *ngIf="(players | async)?.length==0">
        <b>Nenhum jogador encontrado.</b>
      </span>
      <tr *ngFor="let item of players | async; let i = index">
        <td>{{i+1}}</td>
        <td>
          <img id="image" src="{{item.photo}}" alt="photo" class="img-fluid">
        </td>
        <td>{{item.name}}</td>
        <td>{{item.position}}</td>
        <td>
          <div id="buttonbar">
            <i id="pencilicon" [routerLink]="['editplayer', item.key]" class="fa fa-pencil fa-lg" aria-hidden="true" data-toggle="tooltip"
              title="Editar Jogador"></i>
            <i id="trashicon" class="fa fa-trash fa-lg" aria-hidden="true" data-toggle="tooltip" title="Remover Jogador" (click)="deleteItem(item)"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="qtdregistros" *ngIf="(players | async)?.length>0">
  <span>
    Encontrado {{(players | async)?.length}} registro(s).
  </span>
</div>

<div>
  <button id="btnadd" routerLink='/addplayer' class="btn btn-primary btn-lg" data-toggle="tooltip" title="Adicionar Jogador">
    <i id="addicon" class="fa fa-plus" style="font-size:18px" aria-hidden="true"></i>
  </button>
</div>