<ol id="breadcrumb" class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="">Home</a>
  </li>
  <li class="breadcrumb-item">
    <a routerLink="/matches">Partidas</a>
  </li>
  <li class="breadcrumb-item active">Editar Partida</li>
</ol>

<div class="container">
  <form id="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group row has-danger" [class.has-danger]="!team.valid && team.touched" [class.has-feedback]="!team.valid && team.touched">
      <label for="inputname" class="col-sm-2 col-form-label">Time*:</label>
      <div class="col-sm-10">
        <select name="team" class="form-control input-sm" id="inputtime" placeholder="Time" ngModel #team="ngModel">
          <option value="" disabled selected>{{(match | async)?.team.name}}</option>
          <option *ngFor="let item of teams | async" [ngValue]="item">{{item.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row has-danger" [class.has-danger]="!opponent.valid && opponent.touched" [class.has-feedback]="!opponent.valid && opponent.touched">
      <label for="inputnameopponent" class="col-sm-2 col-form-label">Adversário*:</label>
      <div class="col-sm-10">
        <select name="opponent" class="form-control input-sm" id="inputtime" placeholder="Adversário" ngModel #opponent="ngModel">
          <option value="" disabled selected>{{(match | async)?.opponent.name}}</option>
          <option *ngFor="let item of teams | async" [ngValue]="item">{{item.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row has-danger" [class.has-danger]="!score.valid && score.touched" [class.has-feedback]="!score.valid && score.touched">
      <label for="inputscore" class="col-sm-2 col-form-label">Placar*:</label>
      <div class="col-sm-10">
        <input type="text" name="score" class="form-control" id="inputscore" placeholder="Placar" ngModel="{{(match | async)?.score}}"
          required #score="ngModel">
        <div class="form-control-feedback" *ngIf="!score.valid && score.touched">
          Campo "Placar" é obrigatório.
        </div>
      </div>
    </div>

    <div class="form-group row has-danger" [class.has-danger]="!stadium.valid && stadium.touched" [class.has-feedback]="!stadium.valid && stadium.touched">
      <label for="inputstadium" class="col-sm-2 col-form-label">Estádio*:</label>
      <div class="col-sm-10">
        <input type="text" name="stadium" class="form-control" id="inputstadium" placeholder="Estádio" ngModel="{{(match | async)?.stadium}}"
          required #stadium="ngModel">
        <div class="form-control-feedback" *ngIf="!stadium.valid && stadium.touched">
          Campo "Estádio" é obrigatório.
        </div>
      </div>
    </div>

    <div class="form-group row has-danger" [class.has-danger]="!championship.valid && championship.touched" [class.has-feedback]="!championship.valid && championship.touched">
      <label for="inputchampionship" class="col-sm-2 col-form-label">Campeonato*:</label>
      <div class="col-sm-10">
        <input type="text" name="championship" class="form-control" id="inputchampionship" placeholder="Campeonato" ngModel="{{(match | async)?.championship}}"
          required #championship="ngModel">
        <div class="form-control-feedback" *ngIf="!championship.valid && championship.touched">
          Campo "Campeonato" é obrigatório.
        </div>
      </div>
    </div>

    <div class="form-group row has-danger" [class.has-danger]="!round.valid && round.touched" [class.has-feedback]="!round.valid && round.touched">
      <label for="inputround" class="col-sm-2 col-form-label">Rodada*:</label>
      <div class="col-sm-10">
        <input type="text" name="round" class="form-control" id="inputround" placeholder="Rodada" ngModel="{{(match | async)?.round}}"
          required #round="ngModel">
        <div class="form-control-feedback" *ngIf="!round.valid && round.touched">
          Campo "Rodada" é obrigatório.
        </div>
      </div>
    </div>


    <div class="form-group row has-danger" [class.has-danger]="!date.valid && date.touched" [class.has-feedback]="!date.valid && date.touched">
      <label for="datepicker" class="col-sm-2 col-form-label">Data*:</label>
      <div class="col-sm-10">
        <input type="date" name="date" class="form-control" id="datepicker" placeholder="Data" ngModel="{{(match | async)?.date}}"
          required #date="ngModel">
        <div class="form-control-feedback" *ngIf="!date.valid && date.touched">
          Campo "Data" é obrigatório.
        </div>
      </div>
    </div>

    <div class="form-group row has-danger" [class.has-danger]="!strategy.valid && strategy.touched" [class.has-feedback]="!strategy.valid && strategy.touched">
      <label for="inputstrategy" class="col-sm-2 col-form-label">Estratégia*:</label>
      <div class="col-sm-10">
        <select name="strategy" class="form-control input-sm" id="inputstrategy" placeholder="strategy" ngModel #strategy="ngModel">
          <option value="" disabled selected>{{(match | async)?.strategy}}</option>
          <option value="4-2-3-1">4-2-3-1</option>
          <option value="4-1-4-1">4-1-4-1</option>
          <option value="4-1-2-1-2">4-1-2-1-2</option>
        </select>
      </div>
    </div>

    <div class="form-inline">
      <div class="col-sm-4" >
        <button routerLink="/matches" id="btncancel" type="submit" class="btn btn-danger">Cancelar</button>
      </div>

      <div class="col-sm-4">
        <button id="btnsave" type="submit" class="btn btn-primary" [disabled]="!f.valid">Salvar</button>
      </div>
    </div>
  </form>
</div>