#breadcrumb{
    position: absolute;
    right: 10px;
    width: 25%;
    margin-top: 10px;
    background: white;
}

#form{
    margin-left: 200px;
    margin-top: 70px;
    width: 50%;
    height: 80%;
}

#btncancel{
    cursor: pointer;
    margin-left: 370px;
}

#btnsave{
    cursor: pointer;
    margin-left: 300px;
}

#btnsave[disabled]{
    cursor: not-allowed;
}


#showDone{
    color: green;
    font-size: 12px;
    background: white;
    margin-left: 110px;
 }

 #showErr{
    color: red;
    font-size: 12px;
    background: white;
    margin-left: 110px;
 }

 #showEqPass{
    color: red;
    font-size: 12px;
    background: white;
    margin-left: 110px;
 }
