#navbar{
    box-shadow: 5px 5px 10px #d2f0f5;
}

#btnmenuicon {
    width: 5%;
    height: 100%;
}

#menuicon {
    cursor: pointer;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cogicon{
    cursor: pointer;
    color: white;
}

#appname {
    font-size: 20px;
    padding: 10px;
    color: white;
    
}

#usericon{
    margin-right: 10px;
    cursor: pointer;
    color: white;
}

#nmusericon{
    margin-right: 20px;
    color: white;
}