<ol id="breadcrumb" class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="">Home</a>
  </li>
  <li class="breadcrumb-item">
    <a routerLink="/users">Usuários</a>
  </li>
  <li class="breadcrumb-item active">Adicionar Usuário</li>
</ol> 

<div class="container">
  <form id="form" #f="ngForm" (ngSubmit)="onSubmit(f)">

    <div class="form-group row has-danger"
    [class.has-danger]="!name.valid && name.touched"
    [class.has-feedback]="!name.valid && name.touched">
      <label for="user" class="col-sm-2 col-form-label">Nome*:</label>
      <div class="col-sm-10">
        <input type="text" name="name" class="form-control form-control-danger" id="inputname" placeholder="Nome" ngModel 
        required #name="ngModel">
        <div class="form-control-feedback" *ngIf="!name.valid && name.touched">
          Campo "Nome" é obrigatório.
        </div>
      </div>
    </div>

    <div class="form-group row has-danger"
    [class.has-danger]="!login.valid && login.touched"
    [class.has-feedback]="!login.valid && login.touched">
      <label for="login" class="col-sm-2 col-form-label">Login*:</label>
      <div class="col-sm-10">
        <input type="text" name="login" class="form-control form-control-danger" id="inputlogin" placeholder="Login" ngModel
        required #login="ngModel">
        <div class="form-control-feedback" *ngIf="!login.valid && login.touched">
            Campo "Login" é obrigatório.
        </div>
      </div>
    </div>

    <div class="form-group row has-danger"
    [class.has-danger]="!password.valid && password.touched"
    [class.has-feedback]="!password.valid && password.touched">
      <label for="password" class="col-sm-2 col-form-label">Senha*:</label>
      <div class="col-sm-10">
        <input type="password" name="password" class="form-control form-control-danger" id="inputpassword" placeholder="Senha" ngModel
        required #password="ngModel">
        <div class="form-control-feedback" *ngIf="!password.valid && password.touched">
            Campo "Senha" é obrigatório.
        </div>
      </div>
    </div>

    <div class="form-group row has-danger"
    [class.has-danger]="!confirmpassword.valid && confirmpassword.touched"
    [class.has-feedback]="!confirmpassword.valid && confirmpassword.touched">
      <label for="confirmpassword" class="col-sm-2 col-form-label">Confirmar*:</label>
      <div class="col-sm-10">
        <input type="password" name="confirmpassword" class="form-control form-control-danger" id="inputconfirmpassword" placeholder="Confirmar Senha" ngModel
        required #confirmpassword="ngModel">
        <div class="form-control-feedback" *ngIf="!confirmpassword.valid && confirmpassword.touched">
            Campo "Confirmar Senha" é obrigatório.
        </div>
      </div>
    </div>

    <div class="form-inline">
      <div class="col-sm-4">
        <button routerLink="/users" id="btncancel" type="submit" class="btn btn-danger">Cancelar</button>
      </div>
      <div class="col-sm-4">
          <button id="btnsave" type="submit" class="btn btn-primary"
          [disabled]="!f.valid">Salvar</button>
      </div>
    </div>
  </form>
</div>